section.top-banner
	.container
		.top-banner__wrap
			.top-banner__heading
				.top-banner__logo
					img(src="app/img/general/"+content.general.logoBig.src, alt=content.general.logoBig.alt)
				h2.top-banner__title= content.topBanner.title.start
					span.purple= content.topBanner.title.end
			.top-banner__list
				.top-banner__item
					h3.top-banner__name Подготовка сведений ПО&nbsp;
						span.red ФОРМЕ-2
					p.top-banner__text Заполнение формы сведений о качестве, технических характеристиках товара, его безопасности, функциональных характеристиках (потребительских свойствах) товара, о размере, об упаковке, отгрузке товара (Форма 2).
					.top-banner__cost от <span>5000</span> руб.
					.top-banner__btn
						a.btn(href=content.topBanner.btn.link)= content.topBanner.btn.text
				.top-banner__item
					h3.top-banner__name 
						span.red Подготовка заявки 
						| на&nbsp;открытый конкурс 
						span.red по&nbsp;44&nbsp;ФЗ
					p.top-banner__text Анализ документации. Формирование списка документов для достижения максимальных баллов по всем критериям.
					.top-banner__cost от <span>10 000</span> руб.
					.top-banner__btn
						a.btn(href=content.topBanner.btn.link)= content.topBanner.btn.text
				.top-banner__item
					h3.top-banner__name 
						span.red Подготовка заявки 
						| на&nbsp;любой вид торгов по&nbsp;
						span.red 223-ФЗ
					p.top-banner__text Анализ Положения о закупках Заказчика. Анализ документации. Формирование списка документов по неценовым критериям.&nbsp;Подготовка заявки. 
					.top-banner__cost от <span>10 000</span> руб.
					.top-banner__btn
						a.btn(href=content.topBanner.btn.link)= content.topBanner.btn.text
